<div class="floating-input-card mat-elevation-z8">
  <mat-form-field class="input-card">
    <mat-label>Edit</mat-label>
    <input #input matInput placeholder="" value="" (keyup.enter)="edit(input.value)">
  </mat-form-field>
  <div class="search-button">
    <button mat-raised-button color="primary" (click)="edit(input.value)" (keyup.enter)="edit(input.value); input.value = ''">SEARCH</button>
  </div>
</div>

<div class="floating-input-card edit-result mat-elevation-z8" *ngFor="let card of data | async">
  <mat-card class="no-padding">
    <mat-form-field class="input-card">
      <!--      <mat-label>Title/Name</mat-label>-->
      <textarea #nameInput matInput value="{{card.key}}"></textarea>
    </mat-form-field>
  </mat-card>
  <mat-form-field class="input-definition">
    <!--    <mat-label>Leave a comment</mat-label>-->
    <textarea class="text-stretch" #definitionInput matInput value="{{card.value}}"></textarea>
  </mat-form-field>
  <mat-form-field class="input-code">
    <mat-label>Code (Optional)</mat-label>
    <textarea #codeInput matInput value="{{card.code}}"></textarea>
  </mat-form-field>
  <div class="submit-button">
        <button mat-raised-button color="primary" (click)="submit(nameInput.value, definitionInput.value, codeInput.value); edit(nameInput.value); input.value = ''">SUBMIT</button>
  </div>
  <div class="alert-text">
    {{enteredEntry}}
  </div>
</div>




