<mat-toolbar color="primary">
  Project_2 CheatSheet Admin_mode
</mat-toolbar>
<mat-tab-group dynamicHeight>
  <mat-tab label="CheatSheet">
    <app-result-page></app-result-page>
  </mat-tab>
<!--  <mat-tab label="General">-->
<!--    <app-general-result-page></app-general-result-page>-->
<!--  </mat-tab>-->
  <mat-tab label="Insert">
    <!--    <div class="example-large-box mat-elevation-z8">Placeholder</div>-->
    <app-input></app-input>
  </mat-tab>
  <mat-tab label="Edit">
    <app-edit></app-edit>
  </mat-tab>
  <mat-tab label="Delete">
    <!--    <div class="example-large-box mat-elevation-z8">Placeholder</div>-->
    <app-delete></app-delete>
  </mat-tab>
  <mat-tab label="Random(Beta)">
    <app-random-page></app-random-page>
  </mat-tab>
</mat-tab-group>



